/**
 * ShareMy360 Stylesheet
 * @author Guillaume VanderEst <guillaume@vanderest.org>
 */

.sharemy360 {
	border: 2px solid black;
	width: 700px;
	height: 200px;
	overflow: hidden;
	position: relative;
	z-index: 100;
	background: #222;
	font-family: sans-serif;
	font-size: 13px;
	color: #fff;
}
.sharemy360 .panorama, .sharemy360 .overlay {
	position: absolute;
	top: 0;
	left: 0;
}
.sharemy360 .panorama {
	margin-top: 30px;
	margin-bottom: 30px;
}
.sharemy360 .overlay {
	z-index: 200;
	width: 100%;
	height: 100%;
	cursor: move !important;
}
.sharemy360 .images {
	white-space: nowrap;
	text-align: center;
}
.sharemy360 .image {
	position: relative;
	white-space: nowrap;
	display: inline-block;
}

.sharemy360 .ui {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background: #222;
	box-shadow: 0 0 10px #000;
	z-index: 1000;
	border-top: 2px solid #000;
}
.sharemy360 .top-bar {
	bottom: auto;
	top: 0;
}
.sharemy360 .ui p {
	margin: 0 15px;
	line-height: 30px;
}

.sharemy360 .unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/** CUSTOM OR TESTING **/
.sharemy360 .hotspot {
	width: 30px;
	height: 30px;
	z-index: 300;
	position: absolute;
	padding: 10px;
	background: rgba(255, 255, 255, 0.2);
	top: 100px;
	left: 200px;
	cursor: pointer;
	border-radius: 50%;
	margin: -25px 0 0 -25px;
}

.sharemy360 .hotspot:hover {
	background: rgba(255, 255, 255, 0.2);
}

.sharemy360.loading .overlay {
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url(../img/loading.gif);
	background-position: center center;
	background-repeat: no-repeat;
}

.sharemy360.fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	border: 0px none !important;
	top: 0;
	left: 0;
}

/** Youtube Video **/
.sharemy360 .youtube {
	background: #fff;
	border-radius: 10px;
	position: relative;
	z-index: 2000;
	padding: 30px;
}

.sharemy360 .youtube iframe {
	margin: 0 auto;
	vertical-align: middle;
}

.sharemy360 .youtube .close {
	border: 1px solid red;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 30px;
	right: 30px;
}
